@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");

/* Universal Style section */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-family: "Hind Siliguri", sans-serif;
}

*::selection {
  color: #000;
  background-color: #fff;
}

:root {
  --bg-color: #081b29;
  --main-color: #1e3a5f;
  --text-color: #ededed;
  --secund-bg-color: #1e3a5f;

  --span-color: #2fe42f;
}

html {
  font-size: 64.5%;
  overflow-x: hidden;
}

section {
  padding: 10rem 9% 1rem;
  overflow: hidden;
}

.header {
  width: 100%;
  padding: 1rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  background-color: #1e3a5f;
  backdrop-filter: blur(50px);
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover:after {
  left: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.logo-image > img {
  width: 3.8rem;
  height: 3.8rem;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
.logo-name {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navigation a {
  color: var(--text-color);
  font-size: 1.6rem;
  margin-left: 3.5rem;
  font-weight: 500;
}

.navigation a:hover,
.navigation a.active {
  color: var(--span-color);
}

#icon-menu {
  color: var(--text-color);
  font-size: 3.6rem;
  cursor: pointer;
  display: none;
}

/* -----------------------------------------
            HOME SECTION DESIGN
------------------------------------------ */

.home {
  background: url(/Image/Sfinal-min.png);
  height: 450px;
  position: relative;
  filter: brightness(80%);
}

.home::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6); /* light effect */
  z-index: -1;
}

.fb-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fb-page > .image img {
  height: 110px;
  width: 110px;
  background: rgba(255, 255, 255, 0.1);

  transition: 0.5s;
}
.fb-page > .image img:hover {
  cursor: pointer;
  transform: scale(1.06);
}

.fb-page > .head-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--text-color);
  width: 500px;
  padding: 10px 10px;
  border-radius: 10px;
}

.fb-page > .head-text h6 {
  font-size: 30px;
  font-weight: normal;
  color: #000;
  text-decoration: bold;
}
.fb-page > .head-text p {
  font-size: 15px;
  color: var(--bg-color);
}

/* 2nd SECTION */

.news-topic {
  display: grid;
  grid-template-columns: 219px 219px 219px 219px;
  grid-template-rows: 67.5px 67.5px 67.5px 67.5px;
  gap: 2rem;

  margin-top: -15rem;
  position: absolute;
}
.topic {
  background-color: #1e3a5f;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 120px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.15);
  transition: 0.5s;
  border: 2px solid var(--span-color);
  overflow: hidden;
}

/* TOPIC ANIMATION DESIGN */

.topic::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.topic:hover:after {
  left: 90%;
}

.topic:hover {
  cursor: pointer;
  transform: scale(1.06);
}
.topic > .icon i {
  color: var(--text-color);
  font-size: 20px;
}
.topic > .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topic > .text p {
  color: var(--text-color);
  font-size: 15px;
  font-weight: bold;
}
.topic > .text span {
  color: var(--span-color);
  font-weight: normal;
}

/* ---------------------------------------
            BODY SECTION DESIGN 
-----------------------------------------*/

.headingTag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #000;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1e3a5f;
  color: var(--text-color);
  height: 250px;
  margin-top: 20px;
  border: 2px solid var(--span-color);
  border-radius: 10px;
}

/* ~~~~~~~~~~~~~ LOGO DESIGN ~~~~~~~~~~~~~*/

.logo-section img {
  object-fit: cover;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
}
.logo-section img:hover {
  transform: scale(1.06);
}
/* ~~~~~~~~~~~~~ TITLE DESIGN ~~~~~~~~~~~~~*/

.title-section h5 {
  font-size: 2.2rem;
}
.title-section p {
  font-size: 1.5rem;
}
.title-section p span {
  color: var(--span-color);
}

/* ~~~~~~~~~~~~~ BUTTON DESIGN ~~~~~~~~~~~~~*/

.button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button-section a {
  padding: 1rem 2rem;
  background-color: var(--span-color);
  border: none;
  color: var(--main-color);
  border-radius: 1000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.button-section a::after {
  content: "";
  position: absolute;
  width: 107%;
  height: 107%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #008cff, #e100ff);
  z-index: -1;
}

.button-section a:hover {
  z-index: 0;
  box-shadow: 40px 0 100px #008cff;
  cursor: pointer;
  color: var(--text-color);
}

/* ~~~~~~~~~~~~~ SOCIAL DESIGN ~~~~~~~~~~~~~*/

.social-section {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-section a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--span-color);
  background-color: transparent;
  border-radius: 50%;
  color: var(--span-color);
  background-color: var(--secund-bg-color);
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.social-section a::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--span-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

.social-section a:hover::before {
  width: 100%;
  color: var(--secund-bg-color);
}

.social-section a:hover {
  color: var(--secund-bg-color);
}

/* <!-- -- -------------------------------------
          FOOTER SECTION DESIGN for CSS
   -- ------------------------------------- --> */
.footer {
  background-color: var(--secund-bg-color);
  width: 100%;
  height: auto;
  min-height: unset;
  position: absolute;
  border-top-left-radius: 125px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.logo-name-footer {
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 10px;
  color: var(--text-color);
}
.logo-name-footer:hover {
  color: var(--span-color);
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.row > .col {
  flex-basis: 25%;
  padding: 10px;
}
.col h3 {
  width: fit-content;
  margin-bottom: 20px;
  position: relative;
}
.footer-head {
  font-weight: 800;
  color: var(--span-color);
  text-decoration: overline;
}
ul li {
  list-style: none;
  padding: 2px;
}
ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 13px;
}
ul li a:hover {
  color: var(--span-color);
  font-weight: 800;
}
form {
  padding-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--span-color);
  margin-bottom: 50px;
}
form .fa-regular {
  font-size: 18px;
  margin-right: 10px;
}
form input {
  width: 100%;
  background: transparent;
  color: var(--span-color);
  border: 0;
  outline: 0;
}

.footer-bottom {
  text-align: center;
  justify-content: center;
  font-size: 13px;
  border-top: 1px solid var(--span-color);
  padding-top: 15px;
}
.footer-bottom > p > a {
  color: var(--span-color);
  font-weight: 400;
}
.footer-bottom > p > a:hover {
  color: var(--text-color);
}

.social-links {
  position: absolute;
  width: 150px;
  margin-left: -2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links > a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid var(--span-color);
  background-color: transparent;
  border-radius: 50%;
  color: var(--span-color);
  background-color: var(--main-color);
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.social-links a::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--span-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

.social-links a:hover::before {
  width: 100%;
  color: var(--secund-bg-color);
}
.social-links a:hover {
  color: var(--main-color);
}
.social-links a::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--span-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

/* {Footer Button Design}  */
.btn-box-footer {
  margin-top: 6.5rem;
  margin-right: 3.5rem;
  width: 12.5rem;
  height: 3.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.btn-box-footer a {
  color: var(--text-color);
}
.btn-box-footer .btn {
  width: 11.5rem;
  height: 100%;
  background-color: var(--main-color);
  border: 2px solid var(--span-color);
  border-radius: 1rem;
  color: var(--span-color);
  font-size: 1.5rem;
  font-weight: 600;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.btn-box-footer .btn::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--span-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn-box-footer .btn:hover:before {
  width: 100%;
  color: var(--main-color);
}
.btn-box-footer .btn:hover {
  color: var(--main-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        RESPONSIVE DESIGN FOR MOBILE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (max-width: 575px) {
  .home {
    z-index: -1;
  }

  .news-topic {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0;
  }

  .headingTag {
    font-size: 2rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 600px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  }
  .logo-section img {
    width: 100px;
    height: 100px;
  }

  .title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-section > .company-name {
    font-size: 1.5rem;
    margin-top: -30px;
    margin-bottom: 20px;
  }


  .footer > .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer > .row > .f-col {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .f-col-h {
    display: none;
  }
}
